.Navbar-Container{

    display:flex;
    flex-direction: row;
}
.Navbar{
    background-color: #FEC85B !important;
}

.brand-font {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
  }