.Info{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1em;
  background-color: #fdfaf5;
  margin: 40px 50px 40px 50px;
}

.Info .ContainerInfoTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0px;
}

.Info .InfoTitle{
  color: #13265a;
  font-weight: 900;
  background-color:#ffc85c;
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-bottom: 0px;
  border-radius: 10px 10px 0em 0em;
  -webkit-border-radius: 10px 10px 0em 0em;
  -moz-border-radius: 10px 10px 0em 0em;
  -ms-border-radius: 10px 10px 0em 0em;
  -o-border-radius: 10px 10px 0em 0em;
}

.Info .InfoBody{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  border: 2px dashed #7b7e89;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.Info .ContainerDesease{
  display: flex;
  align-items: center;
}

.Info .InfoNameDesease, .InfoMail, .InfoPuzzle{
  font-weight: 700;
  color: #13265a;
}

.Info .InfoPuzzle{
  margin-top: 60px;
  text-decoration: underline;
  transition-duration: .2s;
}
.Info .InfoPuzzle:hover{
  color: #87D3F1;
}

.Info .InfoMail{
  margin-top: 50px;
}

.Info .InfoMediaBody{
  width: 600px;
  height: 300px;
  border: none;
  box-shadow: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.Info .ContainerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.Info .ContainerContentText{
  width: 75%;
}

.Info .ContainerTextElement{
  color:#7b7e89;
  text-align: initial;
  font-size: 1rem;
}

.Info .ContainerForm{
  margin-top: 20px;
}

.Info .FormEmailElement{
  width: 30%;
  padding: 10px 20px ;
  margin-right: 20px;
  border: 1px solid #b2bec3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Info .FormSubmitElement{
  padding: 15px 25px;
  font-weight: 700;
  background-color: #87D3F1;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition-duration: .5s;
}

.Info .FormSubmitElement:hover{
  background-color: #ffc85c;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

.Info{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1em;
  background-color: #fdfaf5;
  margin: 40px 50px 40px 50px;
}

.Info .ContainerInfoTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0px;
}

.Info .InfoTitle{
  color: #13265a;
  font-weight: 900;
  background-color:#ffc85c;
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-bottom: 0px;
  border-radius: 10px 10px 0em 0em;
  -webkit-border-radius: 10px 10px 0em 0em;
  -moz-border-radius: 10px 10px 0em 0em;
  -ms-border-radius: 10px 10px 0em 0em;
  -o-border-radius: 10px 10px 0em 0em;
}

.Info .InfoBody{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  border: 2px dashed #7b7e89;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.Info .ContainerDesease{
  display: flex;
  align-items: center;
}

.Info .InfoNameDesease, .InfoMail{
  font-weight: 700;
  color: #13265a;
}

.Info .InfoMail{
  margin-top: 50px;
}

.Info .InfoMediaBody{
  width: 600px;
  height: 300px;
  border: none;
  box-shadow: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.Info .ContainerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.Info .ContainerContentText{
  width: 75%;
}

.Info .ContainerTextElement{
  color:#7b7e89;
  text-align: initial;
  font-size: 1rem;
}

.Info .ContainerForm{
  margin-top: 20px;
}

.Info .FormEmailElement{
  width: 30%;
  padding: 10px 20px ;
  margin-right: 20px;
  border: 1px solid #b2bec3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Info .FormSubmitElement{
  padding: 15px 25px;
  margin-bottom: 30px;
  font-weight: 700;
  background-color: #87D3F1;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition-duration: .5s;
}

.Info .FormSubmitElement:hover{
  background-color: #ffc85c;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

@media screen and (max-width: 834px){
  .Info{
    margin: 20px;
  }

  .Info .InfoTitle{
    height: 45px;
    line-height: 50px;
    font-size: 1.6rem;
  }

  .Info .InfoBody{
    padding: 15px;
  }

  .Info .InfoNameDesease, .InfoMail, .InfoPuzzle{
    font-size: 1.3rem!important;
  }

  .Info .InfoPuzzle:hover{
    color: #13265a;
  }

  .Info .InfoMediaBody{
    width: 300px;
    height: 180px;
  }

  .Info .ContainerDesease{
    display: block;
  }

  .Info .ContainerText{
    margin-bottom: 1.5rem;
  }

  .Info .ContainerContentText{
    width: 100%;
  }

  .Info .FormEmailElement{
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .Info .FormSubmitElement:hover{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}